header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  padding: 30px 20px;
  z-index: 1000;
}

header img {
  width: 150px;
  cursor: pointer;
}

header .login-button {
  text-decoration: underline;
  color: #000;
  width: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}
